.clang-format
.dockerignore
.git
.gitignore
.gitmodules
azure-pipelines.yml
changelog.md
CONTRIBUTORS.txt
docker-compose.yml
Dockerfile
license.txt
README.md
ThirdPartyNotices.txt
.vscode
azure-devops
Build_android
Build_iOS
build_x64_v141_Debug
build_x64_v141_Release
vcpkg
