Binaries
Build
Build_android
Build_iOS
Debug
Intermediate
ipch
packages
.dockerignore
.gitignore
build.root
CONTRIBUTORS.txt
cpprestsdk120.sln
cpprestsdk140.sln
cpprestsdk140.VC.db
docker-compose.yml
Dockerfile
license.txt
README.md
setup_ps_env_VS2013.ps1
setup_ps_env_VS2015.ps1
ThirdPartyNotices.txt