.clang-format
.dockerignore
.git
.gitignore
.gitmodules
azure-pipelines.yml
changelog.md
CONTRIBUTORS.txt
docker-compose.yml
Dockerfile
license.txt
README.md
ThirdPartyNotices.txt
.vscode
azure-devops
Build_android
Build_iOS
build_x64_v141_Debug
build_x64_v141_Release
build.release
build.debug
vcpkg

# Visual Studio user-specific files
**/*.suo
**/*.user
**/*.sln.docstates

# Visual Studio build results
**/*_i.c
**/*_p.c
**/*.ilk
**/*.meta
**/*.obj
**/*.pch
**/*.pdb
**/*.pgc
**/*.pgd
**/*.rsp
**/*.sbr
**/*.tlb
**/*.tli
**/*.tlh
**/*.tmp
**/*.log
**/*.vspscc
**/*.vssscc
**/*.dll
**/*.lib

# Visual C++ cache files
ipch/
**/*.aps
**/*.ncb
**/*.opensdf
**/*.sdf

# *nix build results
**/*.a
**/*.la
**/*.o
**/*.lo
**/*.so
**/*.so.*
